.example-card {
  padding-top: 1em;
  //max-width: 400px;
}

.team-leader-avatar {
  background-image: url('/assets/images/custom_author_avatar.webp');
  background-size: cover;
}

.results-image {
  background-image: url('/assets/images/cup.png');
  background-size: cover;
}

.drivers-image {
  background-image: url('/assets/images/helmet_blue.png');
  background-size: cover;
}

.constructors-image {
  background-image: url('/assets/images/engine_orange.png');
  background-size: cover;
}

