<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Nationality Column -->
    <ng-container matColumnDef="nationality">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nationality</th>
      <td mat-cell *matCellDef="let row">{{row.nationality}}</td>
    </ng-container>

    <!-- Url Column -->
    <!--<ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Url</th>
      <td mat-cell *matCellDef="let row"><a href="{{row.url}}" target="_blank">{{row.url}}</a></td>
    </ng-container>-->

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <app-team-member-action-selector *ngIf="row.enabled" [id]="row.constructorId"
                                         [isConstructor]="true"></app-team-member-action-selector>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="dataSource?.data.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10]">
  </mat-paginator>
</div>
